[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-better-whitespace"]
	path = vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-elixir"]
	path = vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/bundle/dash.vim"]
	path = vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-crosshairs"]
	path = vim/bundle/vim-crosshairs
	url = https://github.com/bronson/vim-crosshairs.git
[submodule "vim/bundle/vim-rubocop.git"]
	path = vim/bundle/vim-rubocop.git
	url = https://github.com/ngmy/vim-rubocop.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/seti.vim"]
	path = vim/bundle/seti.vim
	url = https://github.com/trusktr/seti.vim
