[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
